@tailwind base;
@tailwind components;
@tailwind utilities;

.global-styles {
  @apply p-10 flex gap-10 h-full transition-all duration-300 ease-in-out;
}

.input-control {
  @apply mt-6 md:mt-4 font-medium;

  label {
    @apply block text-sm md:text-lg mb-2;

    span {
      @apply text-colorGrey3;
    }
  }

  input {
    @apply w-full p-4 bg-colorGreyDark text-colorGrey2 rounded;
  }
}

.submit-btn {
  @apply mt-6 md:mt-4;

  button {
    @apply transition-all duration-300 ease-in-out md:text-sm md:px-4 md:py-2;
  }
}

.toggler {
  @apply flex items-center justify-between mt-6 md:mt-4 cursor-pointer;

  label {
    @apply flex-1;
  }

  /* input {
    @apply appearance-none;
  } */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #181818;
  font-size: 17px;
  color: #fff;

  height: 100vh;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  font-size: 1.5rem;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
